.features {
  padding-bottom: 53.5px;

  background-color: rgba($color-gray, 0.15);

  @include lg-md {
    padding-bottom: 83px;
  }
  &-subtitle {
    margin-bottom: 37.5px;
  }

  &-item {
    &__icon {
      position: relative;

      @include icon(34px, 1.5rem);
      @include md-min {
        @include icon(40px, 2rem);
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &-description {
      &__text {
        color: $color-gray;
      }
    }
  }
}
