.features {
  background-color: rgba($color-gray, 0.15);

  &-subtitle {
    @extend %section-subtitle;
  }

  &-item {
    &__icon {
      position: relative;

      width: 80px;
      height: 45px;
      margin: 60px auto 82px;

      color: $color-light;
      background: $color-accent;

      font-size: 2rem;

      @include lg-md {
        margin-top: 68px;
      }
      @include md {
        width: 68px;
        height: 38px;
        margin-top: 60px;
        margin-bottom: 70px;

        font-size: 1.5rem;
        &:before {
          top: -19px;

          border-right-width: 34px;
          border-bottom-width: 19px;
          border-left-width: 34px;
        }
        &:after {
          bottom: -19px;

          border-top-width: 19px;
          border-right-width: 34px;
          border-left-width: 34px;
        }
      }

      &:before {
        position: absolute;
        top: -23px;
        left: 0;

        width: 0;
        height: 0;

        content: "";

        border-right: 40px solid transparent;
        border-bottom: 23px solid $color-accent;
        border-left: 40px solid transparent;
      }

      &:after {
        position: absolute;
        bottom: -22px;
        left: 0;

        width: 0;
        height: 0;

        content: "";

        border-top: 22px solid $color-accent;
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &-description {
      &__text {
        color: $color-gray;
      }
    }
  }
}
