.features {
  padding-bottom: 53.5px;

  background-color: rgba($color-gray, 0.15);

  @include lg-md {
    padding-bottom: 83px;
  }
  @include lg-min {
    &-container {
      margin-top: -8px;
    }
  }
  &-subtitle {
    @extend %section-subtitle;
  }

  &-item {
    // margin-bottom: 15px;
    padding-top: 15px;

    @include lg-min {
      padding-top: 7px;
    }
    &__icon {
      position: relative;

      @include icon(34px, 1.5rem);
      @include md-min {
        @include icon(40px, 2rem);
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &-description {
      &__text {
        color: $color-gray;
      }
    }
  }
}
