.slider {
  position: relative;

  &-item {
    &:nth-child(1) &__overlay {
      opacity: 0.69;
    }
    &:nth-child(2) &__overlay {
      opacity: 0.2;
    }
    &:nth-child(3) &__overlay {
      opacity: 0.2;
    }

    &:nth-child(4) &__overlay {
      opacity: 0.3;
      & + img {
        filter: grayscale(0.5);
      }
    }

    &__overlay {
      position: absolute;
      z-index: 1;

      width: 100%;
      height: 100%;

      background: $color-dark;
      opacity: 0.5;

      inset: 0;
    }

    &__title {
      display: block;

      font-family: $font-header;
      color: $color-light;
      font-size: 1.75rem;
    }
  }
}
