html {
  overflow-y: scroll;

  font-size: $font-size;
}

body {
  overflow: hidden;

  color: $color-gray;

  font-family: $font-main;
}

section {
  overflow: hidden;

  width: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    color: $color-dark;

    font-family: $font-header;
  }
}

.about,
.features {
  @extend %section;
  &-title {
    @extend %section-title;
  }
}
