%section {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 90px 0 45px;

  @include lg-md {
    padding: 105px 0 75px;
  }
  @include lg-min {
    padding: 105px 0 90px;
  }
}

%section-title {
  margin-bottom: 22.5px;

  @include lg-md {
    margin-bottom: 37.5px;
  }
  @include lg-min {
    margin-bottom: 45px;
  }
}
