%section {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding-top: 90px;
  padding-bottom: 45px;

  @include lg-md {
    padding-top: 105px;
    padding-bottom: 75px;
  }
  @include lg-min {
    padding-top: 105px;
    padding-bottom: 90px;
  }
}

%section-title,
%section-subtitle {
  margin-bottom: 22.5px;

  @include lg-md {
    margin-bottom: 37.5px;
  }
  @include lg-min {
    margin-bottom: 45px;
  }
}
