.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;

  font-size: 1.25rem;
  @include sm {
    &-menu {
      padding-left: 1px;
      padding-right: 1px;
    }
  }

  @include lg {
    background: rgba($color-dark, 0.85);

    &-menu {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include lg-min {
    &-menu {
      padding: 15px 0 !important;

      &__item {
        padding: 0 0.46875rem !important;
      }
      &__link {
        display: block;
        padding: 0.9375rem 0.46875rem !important;
      }
    }
  }

  &-menu__link {
    color: $color-light !important;
  }
}
