/* xl */
/* lg */
/* md */
/* sm */
/* xs */
.about,
.features,
.gallery,
.blog,
.advantages-content,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding-top: 90px;
  padding-bottom: 45px;
}

.about-title,
.features-title,
.gallery-title,
.blog-title,
.advantages-content-title,
.contacts-title {
  margin-bottom: 22.5px;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 1.25rem;
}
.navbar-nav {
  font-size: 1rem;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-dark .navbar-toggler {
  border-color: rgba(254, 254, 254, 0.85);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.carousel-inner {
  width: 100%;
  height: 100vh;
}
.carousel-item {
  position: relative;
  height: 100%;
}
.carousel-item:nth-child(1) .slider-overlay {
  opacity: 0.69;
}
.carousel-item:nth-child(2) .slider-overlay {
  opacity: 0.2;
}
.carousel-item:nth-child(3) .slider-overlay {
  opacity: 0.2;
}
.carousel-item:nth-child(4) .slider-overlay {
  opacity: 0.3;
}
.carousel-item:nth-child(4) img {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}
.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.25rem;
}
.header-menu__link {
  color: #fefefe !important;
}
.header-navbar--scroled {
  background-color: rgba(1, 1, 1, 0.85);
}

.header-navbar--scroled .nav-item.active a {
  color: #ee3b24 !important;
  text-shadow: 0 0 1px #ee3b24;
}
.header-navbar--scroled .nav-item.active a:before {
  bottom: 10px;
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
  background-color: #ee3b24;
}
.header-navbar--scroled .nav-item.active a:hover:before {
  bottom: 0;
  background-color: #ee3b24;
}

html {
  overflow-y: scroll;
  font-size: 16px;
  line-height: 1rem;
}

body {
  position: relative;
  overflow: hidden;
  color: #545454;
  font-family: "Roboto", sans-serif;
}

section {
  overflow: hidden;
  width: 100%;
}

h1 {
  color: #010101;
  font-family: "Roboto Slab", serif;
}

h2 {
  color: #010101;
  font-family: "Roboto Slab", serif;
}

h3 {
  color: #010101;
  font-family: "Roboto Slab", serif;
}

h4 {
  color: #010101;
  font-family: "Roboto Slab", serif;
}

h5 {
  color: #010101;
  font-family: "Roboto Slab", serif;
}

h6 {
  color: #010101;
  font-family: "Roboto Slab", serif;
}

.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
.back-to-top .btn {
  display: block;
  width: 45px;
  height: 45px;
  opacity: 0.25;
}
.back-to-top .btn:hover {
  opacity: 1;
}
.back-to-top .btn:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.back-to-top i {
  display: block;
  margin-bottom: -2px;
  -webkit-transition: margin-top 0.5s ease-in-out;
  -o-transition: margin-top 0.5s ease-in-out;
  transition: margin-top 0.5s ease-in-out;
  font-size: 1rem;
}
.back-to-top .btn:hover i {
  margin-top: -16px;
}

.slider {
  position: relative;
}
.slider-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #010101;
  inset: 0;
}
.slider-item__title {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto Slab", serif;
  font-size: 1.75rem;
}

.list-group {
  margin-top: -12px;
  margin-bottom: 18px;
}
.list-group-item {
  margin-bottom: 6px;
  border: none;
}
.list-group-item__title {
  margin-bottom: 8px;
  font-size: 1.125rem;
}
.list-group-progress__bar {
  background-color: #ee3b24;
}

.features {
  padding-bottom: 53.5px;
  background-color: rgba(84, 84, 84, 0.15);
}
.features-subtitle {
  margin-bottom: 37.5px;
}
.features-item {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
.features-item__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 68px;
  height: 76.5px;
  margin: 25.5px auto 51px;
  color: #ffffff;
  background: #ee3b24;
  font-size: 1.5rem;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.features-item__icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.features-item-description__text {
  color: #545454;
}

.gallery {
  background-color: #fefefe;
}
.gallery-subtitle {
  margin-bottom: 30px;
}
.gallery-fluid {
  padding: 0 30px;
}
.gallery-col {
  padding: 0 5px 10px;
}
.gallery-item {
  position: relative;
  overflow: hidden;
  min-height: 200px;
  max-height: 33.33vh;
}
.gallery-item:hover .gallery-item__overlay {
  z-index: 1;
}
.gallery-item:hover .gallery-item__image {
  -webkit-transform: scale(1.8);
      -ms-transform: scale(1.8);
          transform: scale(1.8);
}
.gallery-item:hover .gallery-item__title {
  z-index: 2;
  bottom: 15%;
}
.gallery-item:hover .gallery-item__link {
  z-index: 2;
  top: 15%;
}
.gallery-item__overlay {
  position: absolute;
  z-index: -1;
  background: rgba(0, 0, 0, 0.75);
  inset: 0;
}
.gallery-item__image {
  display: block;
  width: 100%;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  -o-transition: transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.gallery-item__title {
  position: absolute;
  bottom: -50%;
  left: 50%;
  width: 100%;
  -webkit-transition: bottom 0.6s;
  -o-transition: bottom 0.6s;
  transition: bottom 0.6s;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #fefefe;
  font-size: 1.125rem;
}
.gallery-item__link {
  position: absolute;
  top: -50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  -webkit-transition: top 0.6s;
  -o-transition: top 0.6s;
  transition: top 0.6s;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fefefe;
  background-color: #ee3b24;
}
.gallery-item__link:hover {
  text-decoration: none;
  color: #fefefe;
}

.blog {
  background-color: rgba(84, 84, 84, 0.1);
}
.blog-top {
  padding: 0 30px;
}
.blog-item {
  text-decoration: none;
  color: inherit;
}
.blog-item:hover {
  text-decoration: none;
  color: #fefefe;
}
.blog-item:hover .blog-item-info__title {
  color: #fefefe;
}
.blog-item:hover .blog-item-poster__image {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}
.blog-item:hover .blog-item-info {
  color: #fefefe;
  background-color: #ee3b24;
}
.blog-item-poster {
  overflow: hidden;
  padding: 0;
}
.blog-item-poster__image {
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-filter: saturate(0.75);
          filter: saturate(0.75);
}
.blog-item-info {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #545454;
  background-color: #fefefe;
  font-size: 0.875rem;
}
.blog-item-info__title {
  font-size: 1.125rem;
}
.blog-item-info__data {
  display: block;
  margin: 15px 0;
}
.blog-item-info__text {
  margin-top: 15px;
  margin-bottom: 0;
}

.advantages-content {
  background-color: rgba(84, 84, 84, 0.22);
}
.advantages-image {
  background-color: #cccccc;
  background-image: url("../img/backgrounds/background-1.jpg");
  background-position: 33% center;
  background-size: cover;
}
.advantages-item {
  margin-bottom: 15px;
}
.advantages-item__icon {
  padding: 0 15px;
}
.advantages-item__icon i {
  width: 35px;
  margin-top: 7.5px;
  text-align: center;
  color: #ee3b24;
  font-size: 2rem;
}
.advantages-item__caption {
  width: -webkit-calc(100% - 65px);
  width: calc(100% - 65px);
  padding: 0 15px;
}
.advantages-item__title {
  font-size: 1.5rem;
}

.contacts-textarea::-webkit-input-placeholder {
  font-size: 1rem;
}

.contacts-textarea::-moz-placeholder {
  font-size: 1rem;
}

.contacts-textarea:-ms-input-placeholder {
  font-size: 1rem;
}

.contacts-textarea::-ms-input-placeholder {
  font-size: 1rem;
}

.contacts-textarea::placeholder {
  font-size: 1rem;
}
.contacts-actions-btn {
  color: #ee3b24;
  border-color: #ee3b24;
}
.contacts-actions-btn:hover {
  color: #fefefe;
  border-color: #ee3b24;
  background-color: #ee3b24;
}

.footer {
  color: #b2b2b2;
  background-color: #282828;
  font-size: 0.875rem;
}
.footer-contact {
  padding: 45px 15px 30px;
}
.footer-title {
  color: rgba(254, 254, 254, 0.8);
}
.footer-title::first-letter {
  color: #ee3b24;
}
.footer-item {
  padding-bottom: 16.5px;
}
.footer-top {
  margin-bottom: 24px;
}
.footer-list-link {
  padding-left: 30px;
  color: inherit;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3c!-- Font Awesome Pro 5.15.4 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3e%3cpath fill='%23b2b2b2' d='M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0 -1px;
  background-size: 12.25px 21px;
}
.footer-list-link:hover {
  text-decoration: none;
  color: #fefefe;
}
.footer-copy {
  padding: 30px 0;
  background-color: rgba(84, 84, 84, 0.3);
}
.footer-copy a {
  color: inherit;
}
.footer-copy a:hover {
  text-decoration: none;
  color: #fefefe;
}
@media (min-width: 768px) {
  .about-subtitle,
.features-subtitle,
.gallery-subtitle,
.blog-subtitle,
.advantages-content-subtitle,
.contacts-subtitle {
    margin-bottom: 45px;
  }
  .features-item__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
    height: 90px;
    margin: 30px auto 60px;
    color: #ffffff;
    background: #ee3b24;
    font-size: 2rem;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .advantages-content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .advantages-item__icon i {
    width: 60px;
    font-size: 2.75rem;
  }
  .contacts-mail {
    padding-right: 5px;
  }
  .contacts-tel {
    padding-left: 5px;
  }
  .contacts-actions {
    padding: 0 10px;
  }
}
@media (min-width: 992px) {
  .about,
.features,
.gallery,
.blog,
.advantages-content,
.contacts {
    padding-top: 105px;
    padding-bottom: 90px;
  }
  .about-title,
.features-title,
.gallery-title,
.blog-title,
.advantages-content-title,
.contacts-title {
    margin-bottom: 45px;
  }
  .header-menu {
    padding: 15px 0;
  }
  .header-menu.p-my-0 {
    padding: 0;
  }
  .header-menu__item {
    overflow: hidden;
    padding: 0 0.46875rem !important;
  }
  .header-menu__link {
    position: relative;
    display: block;
    padding: 0.9375rem 0.46875rem !important;
  }
  .header-menu__link:before {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    content: "";
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    background-color: #fefefe;
  }
  .header-menu__link:hover:before {
    bottom: 0;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .list-group-progress {
    height: 20px;
  }
  .advantages-item__caption {
    width: -webkit-calc(100% - 90px);
    width: calc(100% - 90px);
  }
}
@media (min-width: 1200px) {
  .advantages-content {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 991.8px) {
  .header {
    background: rgba(1, 1, 1, 0.85);
  }
  .header-menu {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 991.8px) and (min-width: 768px) {
  .about,
.features,
.gallery,
.blog,
.advantages-content,
.contacts {
    padding-top: 105px;
    padding-bottom: 75px;
  }
  .about-title,
.features-title,
.gallery-title,
.blog-title,
.advantages-content-title,
.contacts-title {
    margin-bottom: 37.5px;
  }
  .features {
    padding-bottom: 83px;
  }
  .gallery-subtitle {
    margin-bottom: 45px;
  }
}
@media (max-width: 767.8px) {
  .about-subtitle,
.features-subtitle,
.gallery-subtitle,
.blog-subtitle,
.advantages-content-subtitle,
.contacts-subtitle {
    margin-bottom: 30px;
  }
  .blog-item-poster__image {
    margin-top: -10%;
    margin-bottom: -35%;
  }
  .blog-item-info__text {
    margin: 15px 0 30px;
  }
}
@media (max-width: 767.8px) and (min-width: 576px) {
  .advantages-item {
    margin-bottom: 10px;
  }
}
@media (max-width: 575.8px) {
  .header-menu {
    padding-right: 1px;
    padding-left: 1px;
  }
  .gallery-fluid {
    padding: 0 15px;
  }
  .gallery-col {
    padding: 0;
    padding-bottom: 15px;
  }
  .gallery-content {
    margin: 0;
  }
}