/* xl */
/* lg */
/* md */
/* sm */
/* xs */
.test, .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 90px 0 45px;
}

.about-title {
  margin-bottom: 22.5px;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 1.25rem;
}
.navbar-nav {
  font-size: 1rem;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-dark .navbar-toggler {
  border-color: rgba(254, 254, 254, 0.85);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.carousel-inner {
  width: 100%;
  height: 100vh;
}
.carousel-item {
  position: relative;
  height: 100%;
}
.carousel-item:nth-child(1) .slider-overlay {
  opacity: 0.69;
}
.carousel-item:nth-child(2) .slider-overlay {
  opacity: 0.2;
}
.carousel-item:nth-child(3) .slider-overlay {
  opacity: 0.2;
}
.carousel-item:nth-child(4) .slider-overlay {
  opacity: 0.3;
}
.carousel-item:nth-child(4) img {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}
.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.25rem;
}
.header-menu__link {
  color: #fefefe !important;
}

html {
  overflow-y: scroll;
  font-size: 16px;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

section {
  overflow: hidden;
  width: 100%;
}

h1 {
  font-family: "Roboto Slab", serif;
}

h2 {
  font-family: "Roboto Slab", serif;
}

h3 {
  font-family: "Roboto Slab", serif;
}

h4 {
  font-family: "Roboto Slab", serif;
}

h5 {
  font-family: "Roboto Slab", serif;
}

h6 {
  font-family: "Roboto Slab", serif;
}

.slider {
  position: relative;
}
.slider-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #010101;
  inset: 0;
}
.slider-item__title {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto Slab", serif;
  font-size: 1.75rem;
}

.list-group {
  margin-top: -12px;
  margin-bottom: 18px;
}
.list-group-item {
  margin-bottom: 6px;
  border: none;
}
.list-group-item__title {
  margin-bottom: 8px;
  font-size: 1.125rem;
}
.list-group-progress__bar {
  background-color: #ee3b24;
}

.test {
  background-color: #cccccc;
}

@media (min-width: 992px) {
  .test, .about {
    padding: 105px 0 90px;
  }
  .about-title {
    margin-bottom: 45px;
  }
  .header-menu {
    padding: 15px 0 !important;
  }
  .header-menu__item {
    padding: 0 0.46875rem !important;
  }
  .header-menu__link {
    display: block;
    padding: 0.9375rem 0.46875rem !important;
  }
  .list-group-progress {
    height: 20px;
  }
}

@media (max-width: 991.8px) {
  .header {
    background: rgba(1, 1, 1, 0.85);
  }
  .header-menu {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .test, .about {
    padding: 105px 0 75px;
  }
  .about-title {
    margin-bottom: 37.5px;
  }
}

@media (max-width: 575.8px) {
  .header-menu {
    padding-right: 1px;
    padding-left: 1px;
  }
}